.toolbar_a{
    font-size: large;
    margin-bottom: 0%;
}

.table {
    margin: 8rem;
    margin-top: 4rem;

    &_button_A {
        margin: 1rem;
    }

    &_button {
        margin: 1rem;
    }

    &_lista {
        color: darkred;
    }
}

.table_table {
    width: 100%;
}

.example-container {
    width: 100%;
    height: 90%;
    background-color: white;
}

//----------------------------------------------------------------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .table {
        margin: 1rem;
        margin-top: 0rem;

        &_lista {
            font-size: medium;
        }
    }

    th, td {
        font-size: xx-small;
        padding: 0%;
    }

    .search {
        font-size: x-small;
        padding: 0%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .table {
        margin: 2rem;
        margin-top: 0rem;

        &_lista {
            font-size: medium;
        }
    }

    th, td {
        font-size: x-small;
        padding: 0%;
    }

    .search {
        font-size: x-small;
        padding: 0%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .table {
        margin: 2rem;
        margin-top: 0rem;

        &_lista {
            font-size: large;
        }
    }

    th, td {
        font-size: x-small;
        padding: 0%;
    }

    .search {
        font-size: small;
        padding: 0%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .table {
        margin: 4rem;
        margin-top: 2rem;

        &_lista {
            font-size: large;
        }
    }

    th, td {
        font-size: small;
        padding: 0%;
    }

    .search {
        font-size: small;
        padding: 0%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .table {
        margin: 8rem;
        margin-top: 4rem;

        &_lista {
            font-size: x-large;
        }
    }

    th, td {
        font-size: small;
        padding: 0%;
    }

    .search {
        font-size: small;
        padding: 0%;
    }
}