.toolbar_a{
    font-size: large;
}

.table {
    margin: 8rem;
    margin-top: 4rem;
    margin-bottom: 23.95rem;

    &_button_A {
        margin: 1rem;
    }

    &_button {
        margin: 1rem;
    }

    &_lista {
        color: darkred;
    }
}

.table_table {
    width: 100%;
}