<fte-navbar></fte-navbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="push">
      <!-- Edit button -->
      <a mat-menu-item routerLink="/dashboard/">Audit Users</a>
      <!-- Delete button -->
      <a mat-menu-item routerLink="/dashboard/index_subjects">Audit Subjects</a>
      <!-- Messages -->
      <a mat-menu-item routerLink="/dashboard/messages">Messages</a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>compare_arrows</mat-icon></button>
    </div>

    <section class="table">

      <h1><span class="table_lista" *ngIf="role === 'admin'">Admin's </span><span class="table_lista">Subjects List</span></h1>

      <!-- Filter Input Form -->
      <article class="search">
        <form [formGroup]="formSearch" class="search_form">
            
            <mat-form-field appearance="outline" class="search_input">
                <mat-label>Filter: </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </form>
      </article>

      <!-- Top buttons -->
      <button type="button" mat-raised-button color="warn" routerLink="/dashboard" *ngIf="false"><mat-icon>arrow_back</mat-icon></button>
      <button type="button" mat-raised-button color="primary" routerLink="/dashboard/create_subjects" class="table_button_A" *ngIf="role === 'admin'">Crete New Subject</button>
      
      <table mat-table [dataSource]="dataSource" class="table_table">
        
        <!-- Start Table -->
        <ng-container *ngFor="let item of formSubjectsItems" matColumnDef={{item.colDef}}>
          <th mat-header-cell *matHeaderCellDef>{{item.th}}</th>
          <td mat-cell *matCellDef="let element"> {{element[item.td]}} </td>
        </ng-container>
        
        <!-- Edit Subjects Menu Button -->
        <ng-container matColumnDef="editButton" *ngIf="role === 'admin'">
          <th mat-header-cell *matHeaderCellDef><span *ngIf="role === 'admin'">Options</span></th>
        
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button *ngIf="role === 'admin'" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <!-- Edit button -->
              <button mat-menu-item (click)="editPopUp(element)">Edit Subject</button>
              <!-- Delete button -->
              <button mat-menu-item (click)="deleteSubject(element.id)">Delete</button>
            </mat-menu>
          </td>

        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- End Table -->
      </table>
    </section>

  </mat-drawer-container>

<fte-footer></fte-footer>