<article class="editSubjects">
    <!-- Form -->
    <form [formGroup]="formEditSubjects" class="editSubjects_form">

        <h1 class="editSubjects_titulo">Edit a Subject</h1>

        <!-- Inputs Form -->
        <mat-form-field *ngFor="let item of formEditSubjectsItems" appearance="outline" class="editSubjects_input">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName={{item.name}} placeholder={{item.placeHolder}}>
        </mat-form-field>
        
        <!-- Buttons -->        
        <button (click)="cancelButton()" type="button" mat-raised-button color="primary" class="editSubjects_button">Cancel</button>
        <button (click)="editSubjectButton()" type="submit" mat-raised-button color="warn" class="editSubjects_button">Edit</button>    
    </form>
</article>