<fte-navbar></fte-navbar>
        
<!-- Go Back Button -->
<div class="createUser_BackButton">
    <button type="button" mat-raised-button color="primary" routerLink="/dashboard">Go Back</button>
</div>

<article class="createUser">
    <!-- Form -->
    <form [formGroup]="formCreateUser" class="createUser_form">

        <h1 class="createUser_titulo">Create a New User</h1>

        <!-- Inputs Form -->
        <mat-form-field *ngFor="let item of formCreateUserItems" appearance="outline" class="createUser_input">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName={{item.name}} placeholder={{item.placeHolder}}>
        </mat-form-field>

        <!-- Password Input Form -->
        <mat-form-field appearance="outline" class="createUser_input">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <!-- Select Input Form -->
        <ng-container *ngIf="true">
                <mat-form-field appearance="outline" class="createUser_input">
                    <mat-label>User Role</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="role" formControlName="role">
                        <mat-option *ngFor="let roles of role" [value]="roles.value" class="createUser_role">
                        {{roles.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        </ng-container>
        
        <!-- Button -->        
        <button (click)="newUser()" type="submit" mat-raised-button color="warn" class="createUser_button">Create</button>    
    </form>
</article>

<fte-footer></fte-footer>
