<article class="editCalifications">
    <!-- Form -->
    <form [formGroup]="formEditCalifications" class="editCalifications_form">
        
        <h1 class="editCalifications_titulo">Edit Califications</h1>

        <!-- Inputs Form -->
        <mat-form-field *ngFor="let item of formEditCalificationsItems" appearance="outline" class="editCalifications_input">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName={{item.name}} placeholder={{item.placeHolder}}>
        </mat-form-field>
        
        <!-- Buttons -->
        <button (click)="cancelButton()" type="button" mat-raised-button color="primary" class="editCalifications_button">Cancel</button>
        <button (click)="editCalificationsButton()" type="submit" mat-raised-button color="warn" class="editCalifications_button">Edit</button>    
    </form>
</article>