<mat-toolbar color="warn">
    <a mat-button class="toolbar_a" routerLink="/">LaSegunda virtual Campus</a>
</mat-toolbar>

<article class="register">
    <form [formGroup]="formRegister" class="register_form">

        <h1 class="register_titulo">Sign Up</h1>

        <mat-form-field appearance="outline" class="register_input">
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="User Name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="register_input">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="register_input">
            <mat-label>Document Number</mat-label>
            <input matInput type="number" formControlName="document" placeholder="Document">
        </mat-form-field>

        <mat-form-field appearance="outline" class="register_input">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <!--
        <mat-radio-group aria-label="Select an option" formControlName="entity">
            <mat-radio-button value="admin" class="register_radio">Admin</mat-radio-button>
            <mat-radio-button value="teacher" class="register_radio">Teacher</mat-radio-button>
            <mat-radio-button value="student" class="register_radio">Student</mat-radio-button>
        </mat-radio-group> -->       

        <button (click)="onSubmit()" [disabled]="!formRegister.valid" type="submit" mat-raised-button color="warn" class="register_button">Sign Up</button>
    
        <p class="register_paragraph">Do you have an account? <a routerLink="/login">Sing in</a></p>
    </form>

</article>

<fte-footer></fte-footer>