.notFound {
    margin: 2rem;
    text-align: center;

    &_parrafo {
        font-size: 200px;
        margin: 8rem;
        color: orangered;
    }

    &_section {        
        text-align: center;        
    }

    &_imagen {
        height: 200px;
    }
}

//---------------------------------------------------