.notFound {
    margin: 1rem;
    text-align: center;

    &_parrafo {
        font-size: 200px;
        margin: 8rem 0rem 8rem 0rem;
        color: orangered;
    }

    &_section {        
        text-align: center;
        margin: 0%;
    }

    &_imagen {
        height: 200px;
    }
}

//---------------------------------------------------