.footer {
    background-color: rgba(52, 58, 64, 25);
    padding: 0.5rem;
    height: 55px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

p {
    font-size: large;
    color: white;
    text-align: center;
}