<fte-navbar></fte-navbar>

<!-- Go Back Button -->
<div class="createSubject_BackButton">
    <button type="button" mat-raised-button color="primary" routerLink="/dashboard/index_subjects"><mat-icon>arrow_back</mat-icon></button>
</div>

<article class="createSubject">
    <!-- Form -->
    <form [formGroup]="formCreateSubject" class="createSubject_form">

        <h1 class="createSubject_titulo">Create a New Subject</h1>

        <!-- Inputs Form -->
        <mat-form-field *ngFor="let item of formCreateSubjectItems" appearance="outline" class="createSubject_input">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName={{item.name}} placeholder={{item.placeHolder}}>
        </mat-form-field>
        
        <!-- Button -->
        <button (click)="newSubject()" type="submit" mat-raised-button color="warn" class="createSubject_button">Create</button>    
    </form>
</article>

<fte-footer></fte-footer>