<article class="editUser">
    <!-- Form -->
    <form [formGroup]="formEditUser" class="editUser_form">

        <h1 class="editUser_titulo">Edit a Student</h1>

        <!-- Inputs Form -->
        <mat-form-field *ngFor="let item of formEditUsersItems" appearance="outline" class="editUser_input">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName={{item.name}} placeholder={{item.placeHolder}}>
        </mat-form-field>

        <!-- Select Input Form -->
        <ng-container *ngIf="true">
                <mat-form-field appearance="outline" class="editUser_select">
                    <mat-label>User Role</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="role" formControlName="role">
                        <mat-option *ngFor="let roles of role" [value]="roles.value" class="editUser_option">
                        {{roles.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        </ng-container>
        
        <!-- Buttons -->
        <button (click)="cancelButton()" type="submit" mat-raised-button color="primary" class="editUser_button">Cancel</button>
        <button (click)="editUserButton()" type="submit" mat-raised-button color="warn" class="editUser_button">Edit</button>
    </form>
</article>