<fte-navbar></fte-navbar>
    
<button type="button" mat-raised-button color="primary" routerLink="/dashboard" class="contact_buttonB">Go Back</button>

<article class="contact">

    <h1 class="contact_titulo">Contact Us</h1>

    <p class="contact_paragraph">Do you have some recomendation or something else? Please contact us</p>

    <mat-form-field appearance="outline" class="contact_input">
        <mat-label>Title</mat-label>
        <input matInput>
    </mat-form-field>

    
    <mat-form-field appearance="outline" class="contact_textArea">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button color="warn" class="contact_button">Send</button>

</article>

<fte-footer></fte-footer>